:root {
	--common-block-margin: 1.1rem;
	--key-color: #1c1c1c;
	color: var(--key-color);
}

h2 {
	margin-block-start: calc(var(--common-block-margin) + 0.5rem);
	border-bottom: solid 1px var(--key-color);
}

p {
	margin-block-start: var(--common-block-margin);
}

.whole-wrapper {
	max-width: 1000px;
	margin-inline: auto;
}