#area1 .docking-test-case {
	color: red;
	font-size: 2rem;
}
#area1 div {
}
:is(#area1 div p.first, #area1 div p.docking-test-case) {
	text-decoration: underline;
}
#area2 .container {
	border: solid red 2px;
}
#area2 .container p {
	color: blue;
	font-size: 2rem;
}
